:root {
  --primary-color: #00dcb4;
  --text-color: #697b87;
  --text-color-input: #99a9b5;
  --text-color-header: #3c3950;
  --text-footer-description: #aaaab1;
  --text-color-black: #3c3950;
  --aqua-color: #00bcd4;
  --grey-color: #5f727f;
  --grey-light-color: #f0f3f2;
  --grey-dark-color: #88959e;
  --grey-footer-grid-color: #88959e;
  --grey-input-placeholder: #99a9b5;
  --white-color: #ffffff;
  --border-table-color: #dfe5e7;
  --background-header-nav-color: #f4f6f7;
  --background-input-color:#181828;
  --intput-color:#8d8181;
  --border-input:#464141;
}
* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
.grid {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.text-primary {
  color: var(--aqua-color);
}
.btn {
  border-radius: 5px;
  cursor: pointer;
}
.input {
  padding: 10px;
  border: 1px solid #d6dcda;
  border-radius: 3px;
}
input:focus {
  border: 1px solid #92989a;
  outline: none;
}
.text-footer-primary {
  color: #aaaab1;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 2;
}
.background-color-dark-grey {
  background-color: #3e4b54;
}
.background-color-light-grey {
  background-color: #676e73;
}
