:root{
    --primary-color:#00dcb4;
    --text-color:#697b87;
    --text-aqua: #00c8ff;
    --white-color:#FFFFFF;
    --text-footer-description:#aaaab1;
}
*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
.grid{
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.text-primary{
    color: var(--text-aqua);
   
}
.btn{
    height: 37px;
    border-radius: 5px;
    cursor: pointer;
}
.input{
    height: 30px;
    padding: 5px;
    border: 1px solid #d6dcda;
    border-radius: 3px;
}
input:focus {
    border: 1px solid #92989a; 
    outline: none; 
}
.text-footer-primary{
    color: #aaaab1;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.8;
}