// Color Variables
$primary-color: #00dcb4;
$text-color: #697b87;
$text-color-input: #99a9b5;
$text-footer-description: #aaaab1;
$slate-gray-color: #3c3950;
$background-btn-footer-color: #394050;
$aqua-color: #00bcd4;
$grey-color: #5f727f;
$grey-light-color: #f0f3f2;
$grey-dark-color: #88959e;
$grey-footer-grid-color: #88959e;
$white-color: #ffffff;
$border-table-color: #dfe5e7;
$background-header-nav-color: #f4f6f7;
$background-input-color: #181828;
$intput-color: #8d8181;
$border-input: #464141;

// Font Variables
$font-primary: "Montserrat", sans-serif;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 28px;
// Spacing Variables
$padding-base: 20px;
$padding-small: 10px;
$padding-large: 100px;
$margin-base: 20px;
$margin-small: 10px;
$margin-large: 100px;
// Border Variables
$border-radius-base: 4px;
$border-radius-circle: 50%;
$border-width: 1px;
$border-color: $grey-color;

// Grid Variables
$grid-gap: 30px;
$column-gap: 30px;
$row-gap: 60px;
